.card {
    border: 1px solid;
    margin: 8% 30% 16% 25%;
}

.title {
    margin-left: 16rem;
    font-size: 30px;
}

.heading {
    padding-left: 20px;
}

.answers {
    padding-left: 20px;
}

.row {
    padding-top: 20px;
}