<mat-card class="card">
      <mat-card-title class="title">User Details</mat-card-title>
        <mat-card-content>
            <div class="row">
                <span class="heading">Name:</span> <span class="answers">Geethanjali</span>
            </div>
            <div class="row">
                <span class="heading">Email:</span> <span class="answers">geethanjali@sparkouttech.com</span>
            </div>
            <div class="row">
                <span class="heading">Github ID:</span> <span class="answers">Geethanjali12</span>
            </div>
        </mat-card-content>
  </mat-card>
  